import React from "react";

export interface {{properCase name}}Props {
  exampleProp: string;
}

export const {{properCase name}} = ({ exampleProp }: {{properCase name}}Props): JSX.Element => (
  <button type="button" className="bg-red-400 font-bold border-2">
    {exampleProp}
  </button>
);
